/*reset css*/
html{
    font-size: 62.5% ;
}
body{
    font: 1.6rem sans-serif;
    margin: 0;
}


h1, h2, h3, h4, p, figure ul, ol { 
    
    margin: 0;
    padding: 0;
    list-style-type: none;
    
}
*{
    box-sizing: border-box;
}
/*theme*/
:root{
    --color-primary: #29e784;
    --color-secondary: rgb(104, 34, 34);
    --color-complementary: #ab5bf0;
    --color-text: #F7F7F7;
}
header{
    background-color: var(--color-primary);
    padding: 1rem;

   
}
.nav {
    
    list-style-type: none;
    text-align: center; 
    padding: 0;
    margin: 0;
    }
.nav a {
    display: inline-block;
    font-size: 10px;
    padding: 20px;
}
    

header h1, header h2{
    line-height: 6.5rem;
    text-align: center;
    color: var(--color-text);
    font-weight: lighter;
}
header h2{
    line-height: normal;
}
main, footer{
    max-width: 120rem;
    margin: 5rem auto;
}
section h2{
    line-height: 4.5rem;
    background-color: var(--color-primary);
    color: var(--color-text);
    padding: 1rem;
    margin: 1rem;

}
section  P{
    padding: 1rem;
    line-height: 1.6;
    border: 1px solid black;
    margin: 1rem;
  
}
footer *{
    text-align: center;
}